:root {
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: #00c46a;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.hosts {
  list-style: none;
  height:90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hosts::-webkit-scrollbar {
  width: 0;
}

.host {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  /* border-left: 5px solid #00c46a; */
}

.host__city {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.host__details {
  display: flex;
  align-items: baseline;
}

.host__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
  display: block;
}

.host__ip,.host__coords {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.host-popup .leaflet-popup-content-wrapper {
  /* border-left: 5px solid #00c46a; */
}
